@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  margin-left: 100;
  float: left;
}

.sticky-header{
  position: fixed;
  top: 0;
  background-color: lightslategray;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-header nav{
  display: flex;
  justify-content: center;
}

.sticky-header ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.sticky-header li {
  cursor: pointer;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.sticky-header li:hover {
  color: #ff0000;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header{
  position: sticky;
  top: 0;
}